# Hexo Configuration
## Docs: https://hexo.io/docs/configuration.html
## Source: https://github.com/hexojs/hexo/

# Site
title: 净土
subtitle: 乐不在外而在心，心以为乐，则是境皆乐；心以为苦，则无境不苦。
description: A blog of howiefh.
author: howiefh
# language: zh-CN
language: default
timezone:

# URL
## If your site is put in a subdirectory, set url as 'http://yoursite.com/child' and root as '/child/'
url: http://howiefh.github.io
root: /
permalink: :year/:month/:day/:title/
permalink_defaults:

# Directory
source_dir: source
public_dir: public
tag_dir: tags
archive_dir: archives
category_dir: categories
code_dir: downloads/code
i18n_dir: :lang
skip_render:

# Writing
new_post_name: :year-:month-:day-:title.md # File name of new posts
default_layout: post
auto_spacing: false # Add spaces between asian characters and western characters
titlecase: false # Transform title into titlecase
external_link: true # Open external links in new tab
filename_case: 0
render_drafts: false
post_asset_folder: false
relative_link: false
future: true
highlight:
  enable: true
  line_number: true
  auto_detect: true
  tab_replace:

# Category & Tag
default_category: uncategorized
category_map:
tag_map:

# Date / Time format
## Hexo uses Moment.js to parse and display date
## You can customize the date format as defined in
## http://momentjs.com/docs/#/displaying/format/
date_format: YYYY-MM-DD
time_format: HH:mm:ss

# Pagination
## Set per_page to 0 to disable pagination
per_page: 10
pagination_dir: page

# Extensions
## Plugins: http://hexo.io/plugins/
## Themes: http://hexo.io/themes/
theme: landscape-f
exclude_generator:

# Deployment
## Docs: http://hexo.io/docs/deployment.html
deploy:
  type: git
  repo: https://github.com/howiefh/howiefh.github.io.git
  branch: master
  message: Site updated {{ now("YYYY-MM-DD HH:mm:ss") }}

# Disqus
disqus_shortname: howiefh

# pagination
## 2: Enable pagination
## 1: Disable pagination
## 0: Fully Disable
archive: 1
category: 2
tag: 2

# https://github.com/hexojs/hexo-generator-archive
archive_generator:
  per_page: 0
  yearly: true
  monthly: true

# https://github.com/hexojs/hexo-generator-tag
tag_generator:
  per_page: 10

# https://github.com/hexojs/hexo-generator-category
category_generator:
  per_page: 10

# https://github.com/hexojs/hexo-generator-index
index_generator:
  per_page: 10

# https://github.com/hexojs/hexo-server
# log default false
server:
  port: 4000
  log: true
  ip: 0.0.0.0

# https://github.com/hexojs/hexo-renderer-marked
marked:
  gfm: true
  pedantic: false
  sanitize: false
  tables: true
  breaks: true
  smartLists: true
  smartypants: true

# https://github.com/hexojs/hexo-renderer-stylus
# compress default false
stylus:
  compress: true

# https://github.com/hexojs/hexo-generator-feed
feed:
  type: atom
  path: atom.xml
  limit: 20

# https://github.com/hexojs/hexo-generator-sitemap
sitemap:
  path: sitemap.xml

# https://github.com/howiefh/hexo-generator-calendar
calendar:
  single: true
  root: calendar
